version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
    groups:
      eslint:
        patterns:
          - "eslint"
          - "@eslint/js"
          - "@typescript-eslint/*"
          - "typescript-eslint"
          - "eslint-config-prettier"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    labels:
      - "GitHub Actions"
    commit-message:
      prefix: "chore(actions)"
