name: Check Code Quality

on:
  push:
  pull_request:
    branches:
      - '**'

jobs:
  check-quality:
    name: Check Code Quality
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.19.0'

    - name: Install dependencies
      run: npm install

    - name: Check code with ESLint
      run: npm run lint

    - name: Check code formatting with Prettier
      run: npx run format:check